body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #faf9f6;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for the horizontal sliders */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
}