@import "tailwindcss";

html {
  scroll-behavior: smooth;
}



@font-face {
  font-family: 'ant';
  src: url('./fonts/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2');
}

@font-face {
  font-family: 'prot';
  src: url('./fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'pro';
  src: url('./fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'mon';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'ava';
  src: url('./fonts/avant.ttf');
}

@font-face {
  font-family: 'krish';
  src: url('./fonts/Krisha-Regular.otf');
}

@font-face {
  font-family: 'head';
  src: url('./fonts/HeadingNowTrial-47Extrabold.ttf');
}

@font-face {
  font-family: 're';
  src: url('./fonts/re.woff2');
}

@font-face {
  font-family: 're1';
  src: url('./fonts/SuisseIntl.woff2');
}

@font-face {
  font-family: 'dms';
  src: url('./fonts/dms.ttf');
}

@font-face {
  font-family: 'smm';
  src: url('./fonts/smm.ttf');
}

@font-face {
  font-family: 'san';
  src: url('./fonts/NimbusSanL-Reg.otf');
}

@font-face {
  font-family: 'sanb';
  src: url('./fonts/NimbusSanL-Bol.otf');
}

@layer utilities {
  @media (max-width: 640px) {
    .mobile-thin {
      font-weight: 400 !important; /* or 300 for extra thin */
    }
  }
}

/* This ensures sections don't get absurdly wide on ultra-wide monitors */
.app-container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #faf9f6;
}

/* Optional: Slightly reduce global font scale for desktop */
@media (min-width: 1024px) {
  html {
    font-size: 14px; 
  }
}
