@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'ant';
  src: url('./fonts/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2');
}

@font-face {
  font-family: 'prot';
  src: url('./fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'pro';
  src: url('./fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'mon';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'ava';
  src: url('./fonts/avant.ttf');
}

@font-face {
  font-family: 'krish';
  src: url('./fonts/Krisha-Regular.otf');
}

@font-face {
  font-family: 'head';
  src: url('./fonts/HeadingNowTrial-47Extrabold.ttf');
}

